body {
    color: var(--SECONDARY-COLOR);
}

.add-book-form, .add-category-form, .add-supplier-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
    width: 400px;
}

.add-book-form > div, .add-category-form > div, .add-supplier-form > div {
    display: flex;
    justify-content: space-between;
}

.add-book-form > div > input, .add-category-form > div > input, .add-supplier-form > div > input {
    width: 70%;
    height: 25px;
    color: inherit;
    background-color: inherit;
    border: none;
    border-bottom: 2px solid var(--SECONDARY-COLOR);
    outline: none;
    padding: 5px 0;
}

.desc-textarea {
    width: 70%;
    color: inherit;
    background-color: inherit;
    border: 2px solid var(--SECONDARY-COLOR);
    resize: none;
}

#supplierid, #categoryid {
    width: 70%;
} 

.btn {
    background-color: var(--PRIMARY-COLOR);
    color: var(--SECONDARY-COLOR);
    height: 30px;
    border: none;
    border: 2px solid var(--SECONDARY-COLOR);
}

.btn:hover {
    background-color: var(--SECONDARY-COLOR);
    color: var(--PRIMARY-COLOR);
    cursor: pointer;
}

@media screen and (max-width: 465px) {
    .add-book-form, .add-category-form, .add-supplier-form {
        width: 300px;
    }
}
