
main {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 25px;
}

.card {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--PRIMARY-COLOR);
    background-color: var(--SECONDARY-COLOR);
    padding: 10px;
}

.card-top {
    display: flex;
    justify-content: space-between;
}

.card-top-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card-del-btn, .card-edit-btn, .card-detail-btn, .category-edit-btn, .category-del-btn {
    appearance: none;
    border: none;
    background-color: inherit;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-bottom-btn-ctn {
    display: flex;
    gap: 15px;
}